.club_element {
  flex-shrink: 0;
  width: 375px;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  /*border: 1px solid var(--text);*/
  /*background-color: var(--selection);*/
  border-radius: 8px;
}

.club_element img {
  /*width: 114px;
  height: 100%;*/
  width: 100px;
  height: 100px;

  object-fit: cover;

  border-radius: 8px;
}

.club_info {
  display: flex;
  gap: 16px;
}

.club_text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.club_title {
  font-size: 16px;
  font-weight: 600;
}

.club_description {
  font-size: 14px;
}


.club_actions {
  display: flex;
  gap: 16px;
}

.club_action_details {
  margin-left: auto;
}
