/*Sidebar.module.css*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Fixed width */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 10px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.h1 {
  font-size: 25px;
  ;
}
.sidebarLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Allow the list to take up remaining space */
}

.sidebarLinks li {
  margin-bottom: 20px;
}

.sidebarLinks a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

/* Profile Link container at the bottom */
.profileContainer {
  margin-top: auto; /* Push this to the bottom */
  padding-top: 20px; /* Space from the rest of the content */
}

.profileContainer a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin-top: 20px;
}

/* Adjust page content to account for the static sidebar */
body {
  margin-left: 250px; /* Ensure the main content isn't hidden behind the sidebar */
}
