/* Adjust page content to account for the static sidebar */
body {
  margin-left: 256px; /* Ensure the main content isn't hidden behind the sidebar */
}

/* Sidebar.module.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 256px; 
  background-color: var(--light-background);
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 10px;
  z-index: 1100;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;

  transition: transform 0.3s ease-in-out;
}

.sidebar_section {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar_section__bottom {
  margin-top: auto;
}

.sidebar_element {
  padding: 8px;
  
  color: var(--light-text-secondary);

  border-radius: 8px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.sidebar_title {
  color: var(--light-text);

  font-size: 16px;
  font-weight: 700;
}

.sidebar_link {
  font-size: 14px;
  font-weight: 600;
  
  color: var(--light-text-secondary);
}

.sidebar_link:hover {
  color: var(--light-text);
  background-color: var(--light-selection);
}

.sidebar_link_icon {
  width: 24px;
  height: 24px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); /* Hide sidebar by default */
  }

  .sidebar.open {
    transform: translateX(0); /* Show sidebar when open */
  }

  body {
    margin-left: 0; /* Allow body content to take full width on mobile */
  }

  .hamburger {
    position: fixed;
    top: 20px; /* Position it aligned with the sidebar */
    left: 20px; /* Start position (aligned with the hidden sidebar) */
    z-index: 1200; /* Ensure it stays above the sidebar */
    transition: left 0.3s ease-in-out; /* Animate its movement */
    cursor: pointer;
  }

  .sidebar.open + .hamburger {
    left: 190px; /* Move the hamburger along with the sidebar (sidebar width + margin) */
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: all 0.3s ease;
  }
}
